<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bidding Platform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/property" routerLinkActive="active">Property Listing</a>
      </li>
      <li class="nav-item" [hidden]="userName != null">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item dropdown" [hidden]="userName == null">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div style="padding:0 16px;">
  <ul class="table-title">
    <li><h2>Available Properties</h2></li>
    <li class="right" [hidden]="userName == null">
      <button type="button" class="btn btn-primary btn-block" (click)="show()">Create Property</button>
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let property of propertyList">
        <img class="card-img-top" src="assets/house.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{property.name}}</h5>
          <p class="card-text">Type: {{property.propertyType}}<br>Area Code: {{property.areaCode}}<br>Price:
            €{{property.price}}<br>Bedrooms:
            {{property.bedroomCount}}</p>
          <a [hidden]="userName == null" href="#" routerLink="{{property.id}}" routerLinkActive="active"
             class="btn btn-primary">View Property</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'show': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div>
    <div class="modal-content">
      <div class="modal-header">
        <h2>Create Property</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="propertyForm" novalidate (ngSubmit)="save(propertyForm.value, propertyForm.valid)">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small [hidden]="propertyForm.controls.name.valid || (propertyForm.controls.name.pristine && !submitted)"
                   class="text-danger">
              Name is required (minimum 5 characters).
            </small>
            <!--<pre class="margin-20">{{ propertyForm.controls.name.errors | json }}</pre>-->
          </div>
          <div class="form-group">
            <label for="">Property Type</label>
            <select class="form-control" formControlName="propertyType">
              <option selected value="HOUSE">House</option>
              <option value="APARTMENT">Apartment</option>
            </select>
            <small
              [hidden]="propertyForm.controls.propertyType.valid || (propertyForm.controls.propertyType.pristine && !submitted)"
              class="text-danger">
              Property Type is required.
            </small>
          </div>
          <div class="form-group">
            <label for="">Area Code</label>
            <input type="text" class="form-control" formControlName="areaCode">
            <small
              [hidden]="propertyForm.controls.areaCode.valid || (propertyForm.controls.areaCode.pristine && !submitted)"
              class="text-danger">
              Area Code Type is required (minimum 2 characters).
            </small>
          </div>
          <div class="form-group">
            <label for="">Bedroom Count</label>
            <input type="number" class="form-control" formControlName="bedroomCount">
          </div>
          <div class="form-group">
            <label for="">Asking Price</label>
            <input type="number" min="0.01" step="0.01" class="form-control" formControlName="price">
          </div>
          <div class="form-group">
            <label for="">Bidding Expiry</label>
            <input type="datetime-local" class="form-control" formControlName="biddingExpiry" value="2018-04-22">
          </div>
          <div class="button-container">
            <button type="submit" class="btn btn-primary btn-block">
              <span>Submit</span>
            </button>
            <small [hidden]="propertyForm.valid" class="text-danger">Fields Empty!</small>
          </div>
        </form>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
