<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bidding Platform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/property" routerLinkActive="active">Property Listing</a>
      </li>
      <li class="nav-item" [hidden]="userName != null">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item dropdown" [hidden]="userName == null">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<br><br>
<div style="padding:0 16px;">
  <div class="row">
    <div class="col-lg-3">
      <img class="card-img-top img-fluid" src="/assets/house.jpeg" alt="">
    </div>
    <div class="col-lg-9">
      <div class="card-group">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">{{property.name}}</h3>
            <h4>€{{property.price}}</h4>
            <p class="card-text">Type: {{property.propertyType}}<br>Area Code: {{property.areaCode}}<br>Bedrooms:
              {{property.bedroomCount}}</p>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" [hidden]="!ready">
            <h3 class="card-title">Bidding Information</h3>
            <div [hidden]="bidList.length == 0">
              <p [hidden]="seconds==0" [style.color]="highestBid?.userId != userName ? 'red' : 'green'">Current Highest
                Bid: {{highestBid?.value}} ({{highestBid?.userId}})</p>
              <p [hidden]="seconds!=0" [style.color]="highestBid?.userId != userName ? 'red' : 'green'">Highest Bidder:
                {{highestBid?.userId}}</p>
            </div>
            <div class="timer">
              <span class="days" [hidden]="days==0">{{days}} days</span>
              <span class="hours" [hidden]="hours==0">{{hours}} hours</span>
              <span class="minutes" [hidden]="minutes==0">{{minutes}} minutes</span>
              <span class="seconds" [hidden]="seconds==0">{{seconds}} seconds remaining</span>
              <span class="seconds" [hidden]="seconds!=0">Bidding Over!</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div style="padding: 16px">
          <ul class="table-title">
            <li><h2>Current Bids</h2></li>
            <li class="right">
              <button type="button" class="btn btn-primary btn-block" (click)="show()" [hidden]="seconds==0">Create
                Bid
              </button>
            </li>
          </ul>
          <table class="table">
            <thead class="thead">
            <tr>
              <th class="col">Name</th>
              <th class="col">Bid Price</th>
              <th class="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bid of bidList">
              <td class="column">{{bid.userId}}</td>
              <td class="column">{{bid.value}}</td>
              <td class="column">{{bid.createdDate | date:"dd/MM/yyyy 'at' h:mm:ssa"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <br><br>
  <div>


  </div>



<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'show': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div>
    <div class="modal-content">
      <div class="modal-header">
        <h2>Create Bid</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="bidForm" novalidate (ngSubmit)="save(bidForm.value, bidForm.valid)">
          <div class="form-group">
            <label for="">Bid Value</label>
            <input type="number" min="highestBid?.value" step="0.01" class="form-control" formControlName="value"
                   value="highestBid?.value">
            <small [hidden]="!error" class="text-danger">Bid must be higher than current max bid</small>
          </div>
          <div class="button-container">
            <button type="submit" class="create-button">
              <span>Submit</span>
            </button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
